body {
    font-family: American Typewriter, sans-serif;
    background-color: #f8f9fa;
    margin: 25px;
    padding: 20px;
}

h1, h2, h3 {
    color: #a6f27a;
}

.btn-primary {
    background-color: #2d72bc;
    border: none;
}
